<header>
  <h1>如影随形</h1>
  <h2>影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
  <div class="logo">
  	<a href="/"></a>
  </div>
    <nav id="topnav">
    	<%= link_to "首页",root_path %>
    	<%= link_to "分享",articles_path %>
    	<%= link_to "慢生活",life_path %>
    	<%= link_to "关于我",about_path %>
      <%- if user_signed_in? %>
          <%= link_to "粉丝列表",users_path %>
          <%= link_to "退出",destroy_user_session_path, method: :delete%><%= link_to current_user.username,'##'%>
        <% else %>
          <%= link_to "粉丝",new_user_session_path %>
          <%= link_to "登录",new_user_session_path %>
      <% end %>
    </nav>
  <script>
    $(function(){
      var obj=null;
      var As=document.getElementById('topnav').getElementsByTagName('a');
      obj = As[0];
      for(i=1;i<As.length;i++){if(window.location.href.indexOf(As[i].href)>=0)
      obj=As[i];}
      obj.id='topnav_current'
    });
    </script>
</header>