<h2>注册</h2>

<%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { autocomplete: :off } do |f| 
	 %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %> <% if @validatable %><i>(最小长度<%= @minimum_password_length %>)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "立即注册" %></div>
<% end %>

<%= render "devise/shared/links" %>
