 <div class="comment-list">
   <%- if resource.comments.present? %>
    	<%- resource.comments.really.by_time.limit(30).each_with_index do |comment, index| %>
    	      <%= render 'comments/comment', comment: comment, index: index %>
    	<% end %>
   <% else %>
       <p>暂无评论</p>
   <% end %>
 </div>
 <div class='info'>
    <h3 class="site" id="site">
    <small id="reply-message"></small>
    </h3>
</div>
<%= simple_form_for resource.comments.new, url: comments_path("#{resource.class.name.underscore}_id" => resource.id), html: { class: 'form-horizontal comment-form' } ,remote: true do |f|  %>
    <div class='us'>
      <span class='us_name'>
      <%=  current_user.username if current_user %>
      </span>
    </div>
    <%= f.input :quote_id, as: :hidden%>
    <%= f.text_area :body,size: "88x5" ,wrapper: :bootstrap,label: false %>
    <%= f.button :submit, '发表', class: 'btn btn-primary'%>
 <% end %>
   <script>
        $(document).on('click', '.go-comment', function(event) {
          var parent;
          parent = $(this).parents('.comment-item');
          $('#comment_quote_id').attr('value', parent.data('id'));
          $('#reply-message').html("回复 " + parent.find('.username .username').text() + "<a href='javascript:void(0)' id='reply-back', class='btn btn-sm'>撤销</a>");
          $('html,body').animate({
            scrollTop: $('#comment_body').offset().top +300
          }, 'slow');
          return $('#comment_body').focus();
        });

        $(document).on('click', '#reply-back', function(event) {
          $('#comment_quote_id').removeAttr('value');
          $('small#reply-message').html('');
          return $('#comment_body').val('');
        });
    </script>
