
<li  data-id="<%=comment.id%>">
<div class="comment-item" data-id="<%=comment.id%>">
          <p>
            <%= "#{index+1}"%>楼
            <%= link_to comment.user.username, user_path(comment)%>的评论：<br>
          <p>
            <%= sanitize comment.body%>
          </p>
          <p>
            <%= "#{ time_ago_in_words comment.created_at }" %>前
          </p>
      <%- if comment.quote_id? %>
      引用
        <%= link_to comment.quote.user.username, user_path(comment.user), class: 'quote-user' %>
        的话:
         <%= sanitize comment.quote.body %>
      <% end %>
        <%- if current_user && current_user.id == comment.user_id %>
         <%= link_to '删除', comment_path(comment), method: :delete, remote: true %>
        <% end %>
       <%= link_to '评论', 'javascript:void(0)', class: 'go-comment' %>
       
</div>
</li>