<li  data-id="<%=comment.id%>">
      <div class="comment-item" data-id="<%=comment.id%>">
            <div class='info'>
                <div class='reply-floor'>
                  <span class='comment-index'><%= "#{index+1}"%>楼</span>
                </div>
              <div class="username">
                  <span class="reply-at">
                    <%= "#{ time_ago_in_words comment.created_at }" %>前
                  </span>
                  <%= link_to comment.user.email, user_path(comment.user),class: "username",title: comment.user.email %>的评论：
              </div>
              <%- if comment.quote_id %>
                <div class='comment-text' >
                  引用
                   <%- if comment.quote %> 
                        <%= link_to comment.quote_user_email, user_path(comment.user), class: 'quote-user' %>的话:
                    <% else %>
                        该评论已被删除
                    <% end %>

                    <%= sanitize comment.quote.try(:body)%>

                </div>
               <% end %>
              <div class='f_color'>
               <%= sanitize comment.body%>
              </div>
               <div class="c_zuo">
                <%- if current_user && current_user.id == comment.user_id %>
                  <%= link_to '删除', comment_path(comment), method: :delete, remote: true %>
                 <% else %>
                  <%= link_to '评论', 'javascript:void(0)', class: 'go-comment' %>
                <% end %>
                </div>
      </div>
</li>