<%- url = article_path(article)%>
<div class="blogs">
        <h3>
        <%= link_to article.title,url %>
        </h3>
        <figure>
          <% article.images.order('is_cover DESC').each do |image|%>
            <%= image_tag(image.img_url(:thumb),class: "img") %>
          <% end %>
        </figure>
        <ul>
          <p><%= article.content %></p>
          <%= link_to "阅读全文",article_path(article),target: "_blank", class: "readmore" %>
        </ul>
        <p class="autor">
        <span>作者：<%= article.user.username%></span>
        <span>分类：[<%= link_to article.category.try(:name),'#' %>|<%= link_to article.sub_category.try(:name), '#' %>]</span>
        <span>浏览（<%= link_to article.view_count.to_i,'#' %>）</span>
        <span>评论（<%= link_to article.comments_count%>）</span>
        </p>
        <div class="dateview"><%= article.created_at.strftime('%Y-%m-%d')%></div>
</div>