<article>
    <h2 class="about_h">
      <%= link_to "首页",root_path %>&gt;
      <%= link_to "分享", articles_path %>
    </h2>
    <div class="bloglist">
      <%- collection.each do |resource| %>
        <div class="newblog">
            <ul>
              <h3><%= link_to resource.title,article_path(resource) %></h3>
              <div class="autor">
                <span>作者：<%= resource.user.try.(:username) %></span>
                <span>分类：[<%= link_to resource.category.try(:name),'#'%>|<%= link_to resource.sub_category.try(:name),'#' %>]</span>
                <span>浏览（<a href="#">63</a>）</span>
                <span>评论（<a href="#">1</a>）</span></div>
              <p>
                <%= resource.content %>
                <%= link_to "阅读全文",article_path(resource),target: "_blank", class: "readmore" %>
              </p>
            </ul>
          <figure><%= image_tag('01.jpg')%></figure>
          <div class="dateview"><%= resource.created_at %></div>
        </div>
      <% end %>
    </div>
    <div class="page"><a title="Total record"><b>113</b></a><b>1</b><a href="/">2</a><a href="/">3</a><a href="/">4</a><a href="/">5</a><a href="/">&gt;</a><a href="/">&gt;&gt;</a></div>
</article>
