<article>
    <h2 class="about_h">
      <%= link_to "首页",root_path %>&gt;
      <%= link_to "分享", articles_path %>
    </h2>
    <div class="bloglist">
      <%- collection.each do |resource| %>
        <div class="newblog">
            <ul>
              <h3><%= link_to resource.title,article_path(resource) %></h3>
              <div class="autor">
                <span>作者：<%= resource.user.try(:username) %></span>
                <span>分类：[<%= link_to resource.category.try(:name),'#'%>|<%= link_to resource.sub_category.try(:name),'#' %>]</span>
                <span>浏览（<%= link_to resource.view_count.to_i,'#' %>）</span>
                <span>评论（<%= link_to resource.comments_count%>）</span>
                <% unless current_user != resource.user%>
                <span><%= link_to '编辑',edit_article_path(resource)%></span>
                <% end %>
              </div>
              <p>
                <%= resource.content %>
                <%= link_to "阅读全文",article_path(resource),target: "_blank", class: "readmore" %>
              </p>
            </ul>
          <figure><%= image_tag(resource.cover.try(:img_url))%></figure>
          <div class="dateview"><%= resource.created_at.strftime('%Y-%m-%d') %></div>
        </div>
      <% end %>
    </div>
    <div class='pag'>
      <%= paginate collection %>
    </div>
</article>
