<article>
    <h2 class="about_h">您现在的位置是：
      <%= link_to "首页",root_path %>&gt;
      <%= link_to "分享", articles_path %>&gt;
      <%= link_to resource.title,article_path(resource) %>
    </h2>
      <div class="bloglist">
        <div class="newblog1">
          <ul>
            <h3>
              <%= link_to resource.title,article_path(resource),class: "title" %>
            </h3>
              <div class="autor">
                <span>作者：<%= resource.user.username%></span>
                <span>分类：[<%= link_to resource.category.try(:name),'#' %>|<%= link_to resource.sub_category.try(:name), '#' %>]</span>
                <span>浏览（<%= link_to resource.view_count.to_i,'#' %>）</span>
                <span>评论（<a href="#">1</a>）</span>
              </div>
            <div class="date">发表时间：<%= resource.created_at.strftime('%Y-%m-%d %H:%S')%></div>
            <p></p>
          </ul>

          <figure>
            <%= image_tag("008.jpg",class: "img") %>
          </figure>

          <div class="content">
            <%= resource.content %>
          </div>
        </div>
      </div>
</article>

