<article>
    <h2 class="about_h">您现在的位置是：
      <%= link_to "首页",root_path %>&gt;
      <%= link_to "分享", articles_path %>&gt;
      <%= link_to resource.title,article_path(resource) %>
    </h2>
      <div class="bloglist">
        <div class="newblog1">
          <ul>
            <h3>
              <%= link_to resource.title,article_path(resource),class: "title" %>
            </h3>
              <div class="autor">
                <span>作者：<%= resource.user.username%></span>
                <span>分类：[<%= link_to resource.category.try(:name),'#' %>|<%= link_to resource.sub_category.try(:name), '#' %>]</span>
                <span>浏览（<%= link_to resource.view_count.to_i,'#' %>）</span>
                <span>评论（<%= link_to resource.comments_count%>）</span>
              </div>
            <div class="date">发表时间：<%= resource.created_at.strftime('%Y-%m-%d %H:%S')%></div>
            <p></p>
          </ul>

          <figure>
            <%= image_tag("008.jpg",class: "img") %>
          </figure>

          <div class="content">
            <%= resource.content %>
          </div>
        </div>
      </div>
</article>
<div>
  <%- if resource.comments.present? %>
      <%- resource.comments.each do |comment| %>
          <p>
            <%= comment.user.username%>的评论：<br>
            <%= comment.body%>
          </p>
      <% end %>
    <% else %>
      <p>暂无评论</p>
  <% end %>
</div>

<%= simple_form_for resource.comments.new, url: comments_path("#{resource.class.name.underscore}_id" => resource.id), html: { class: 'form-horizontal comment-form' } do |f|  %>
    <%=  current_user.username if current_user %>
    <%= f.input :user_id, as: :hidden%>
    <%= f.input :body, label: false, wrapper_html: { class: user_signed_in? ? '' : 'no-login' }%>
    <%= f.button :submit, '发表', class: 'btn btn-primary'%>
 <% end %>
