<article>
    <h2 class="about_h">您现在的位置是：
      <%= link_to "首页",root_path %>&gt;
      <%= link_to "分享", articles_path %>&gt;
      <%= link_to resource.title,article_path(resource) %>
    </h2>
      <div class="bloglist">
        <div class="newblog1">
          <ul class='info'>
            <span>
            <%= link_to resource.title,article_path(resource),class: "title" %>
            </span>
          </ul>
          <div class="autor">
                <span>作者：<%= resource.user.username%></span>
                <span>分类：[<%= link_to resource.category.try(:name),'#' %>|<%= link_to resource.sub_category.try(:name), '#' %>]</span>
                <span>浏览（<%= link_to resource.view_count.to_i,'#' %>）</span>
                <span>评论（<%= link_to resource.comments_count%>）</span>

                <span>发表时间：<%= resource.created_at.strftime('%Y-%m-%d')%></span>
                <% unless current_user != resource.user%>
                 <span><%= link_to '编辑',edit_article_path(resource)%></span>
                <% end %>
          </div>

          <figure>
            <% resource.images.order('is_cover DESC').each do |image|%>
            <%= image_tag(image.img_url(:thumb),class: "img") %>
            <% end %>
          </figure>

          <div class="content">
            <%= resource.content %>
          </div>
        </div>
      </div>
</article>
<div class='comment-list-total'>
  <%= render 'comments/comments', resource: resource %>
</div>